body, html, *, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Fink Heavy";
  src: url("/common/font/FinkHeavy.woff") format("woff"),
      url("/common/font/FinkHeavy.ttf") format("ttf");
}

body {
  font-family: 'Fink Heavy';
  color: #221111;
}

.visuals-host {
  max-width: 80%;
}

.song-meta .meta-banner-img {
  max-width: 80%;
}

.meta-music-title {
  display: block;
  font-size: 32px;
  margin: 12px 12px 4px 12px;
}

.meta-artist-container {
  display: block;
  text-align: center;
}

.controls-container {
  display:flex;
}

.media-button {
  appearance: none;
  border:none;

  width:42px;
  height: 42px;
  border-radius: 50%;
  font-size: 0;
  background-color: #8a592e;
  filter: drop-shadow(3px 3px 0px #512b15);
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12px;

  outline: none;
  transition: transform 0.1s, filter 0.1s;
}

.media-button:active, .media-button.pressed {
  transform: translate(2px,2px);
  filter: drop-shadow(1px 1px 0px #512b15);
}

.media-button::before {
  filter: drop-shadow(2px 2px 0px #512b15);
}

.media-button.play::before {
  content: url('/common/svg/play.svg');
  width: 50%;
}
.media-button.pause::before {
  content: url('/common/svg/pause.svg');
  width: 50%;
}
.media-button.back::before {
  content: url('/common/svg/backward.svg');
  width: 60%;
  position:relative;
  right: 4%;
}
.media-button.next::before {
  content: url('/common/svg/forward.svg');
  width: 60%;
  position:relative;
  left: 4%;
}


.app-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-container, .visuals-host, .song-meta {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-tile-mask {
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.76));
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.76));
}

.half-visible-blend {
  filter: opacity(0.2);
  mix-blend-mode: hard-light;
}

.transparent-soft-blend {
  filter: opacity(0.5);
  mix-blend-mode: soft-light;
}

.gray-soft-blend {
  filter: grayscale(0.78);
  mix-blend-mode: soft-light;
}

.background-tile-mask, .meta-background-tile{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1
}

.meta-background-tile {
  will-change: background-position;

  background-size: 256px 256px;
  animation-name: background-scroll-diagonal;
  animation-duration: 21s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes background-scroll-diagonal {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 256px 256px;
  }
}