:root {
  --media-button-shadow: #512b15;
  --media-button-stroke: #c3b241;
  --media-button-fill: #8a592e;

  --ambience-node-fill: #109a76;
  --ambience-header-fill: #faf1e2;
  --ambience-node-shadow: #b9ac8a;
  --ambience-nodes-container-fill: #c6c0a7;
}

.darkmode {
  --ambience-node-fill: #109a76;
  --ambience-header-fill: #17172a;
  --ambience-node-shadow: #3d4048;
  --ambience-nodes-container-fill: #2f2f4d;
}

.blue-button {
  --media-button-shadow: #09565c;
  --media-button-stroke: #c3b241;
  --media-button-fill: #109a76;
}

body,
html,
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Fink Heavy";
  src: url("/common/font/FinkHeavy.woff") format("woff"),
    url("/common/font/FinkHeavy.ttf") format("ttf");
}

body {
  font-family: "Fink Heavy";
  color: #221111;
}

.darkmode {
  color: #d8cfcd;
}

.visuals-host {
  max-width: 75%;
  height: 100%;
}

.song-meta {
  flex-shrink: 1;
}

.song-meta .meta-banner-img {
  max-width: 75vw;
  max-height: 50vh;

  flex-shrink: 1;
}

.meta-music-title {
  display: block;
  font-size: 32px;
  max-width: 100%;
  line-break: none;
  padding: 0.5em 1em 0.5em 1em;
  text-align: center;
  filter: drop-shadow(3px 3px 0px rgba(204, 204, 204, 0.7));
}

.darkmode .meta-music-title {
  color: #d8cfcd;
  filter: drop-shadow(3px 3px 0px #512b15);
}

.artist-container {
  display: block;
  text-align: center;
  height: 20px;
  line-height: 20px;
}

a {
  color: #082043;
}

.darkmode a {
  color: #c3b241;
}

.controls-container {
  display: flex;
}

.media-button {
  appearance: none;
  border: none;

  width: 42px;
  height: 42px;
  border: 3px solid transparent;
  border-radius: 50%;
  font-size: 0;
  background-color: var(--media-button-fill);
  filter: drop-shadow(3px 3px 0px var(--media-button-shadow));
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12px;

  outline: none;
  transition: transform 0.1s, filter 0.1s;
}

.media-button.data-text::before {
  content: attr(data-button-label);
  color: #c3b241;
  font-size: 18px;
  font-family: "Fink Heavy";
  position: relative;
  top: 2px;

}

.media-button:focus {
  border: 3px solid var(--media-button-stroke);
}

.media-button:active,
.media-button.pressed {
  transform: translate(2px, 2px);
  filter: drop-shadow(1px 1px 0px var(--media-button-shadow));
}

.media-button::before, .media-button img {
  filter: drop-shadow(2px 2px 0px var(--media-button-shadow));
}

.media-button.play::before {
  content: url("/common/svg/play.svg");
  width: 50%;
}
.media-button.pause::before {
  content: url("/common/svg/pause.svg");
  width: 50%;
}
.media-button.back::before {
  content: url("/common/svg/backward.svg");
  width: 60%;
  position: relative;
  right: 4%;
}
.media-button.next::before {
  content: url("/common/svg/forward.svg");
  width: 60%;
  position: relative;
  left: 4%;
}
.media-button.ambience::before {
  content: url("/common/svg/sound.svg");
  width: 80%;
  position: relative;
}
.media-button.bell.bell-enabled::before {
  content: url("/common/svg/bell-on.svg");
  width: 70%;
  position: relative;
}
.media-button.bell::before {
  content: url("/common/svg/bell-slash.svg");
  width: 70%;
  position: relative;
}

.app-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-container,
.visuals-host,
.song-meta {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-tile-mask {
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.08),
    rgba(0, 0, 0, 0.76)
  );
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.76));
}

.default-blend {
  filter: opacity(0.7);
}

.dodgerot-blend {
  filter: opacity(0.8) hue-rotate(30deg) brightness(1.4);
  background-size: 512px 512px;
  mix-blend-mode: color-dodge;
}

.half-visible-blend {
  filter: opacity(0.2);
  mix-blend-mode: hard-light;
}

.exclusion-blend {
  filter: opacity(0.23);
  mix-blend-mode: exclusion;
}

.transparent-soft-blend {
  filter: opacity(0.5);
  mix-blend-mode: soft-light;
}

.gray-soft-blend {
  filter: grayscale(0.78);
  mix-blend-mode: soft-light;
}

.background,
.background-tile-mask,
.background-tile,
.backgrounds-host {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 0.25s;
}

.background:not(.active) {
  opacity: 0;
}

.background.active {
  opacity: 1;
}

.background-tile {
  will-change: background-position;

  background-size: 256px 256px;
  animation-name: background-scroll-diagonal;
  animation-duration: 21s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes background-scroll-diagonal {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 256px 256px;
  }
}

.bottom-ui {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  width: 100%;
  justify-content: space-between;

  display: flex;
  align-items: center;
  pointer-events: none;
}
.bottom-ui > * {
  pointer-events: all;
}
.bottom-ui > *:last-child {
  margin-left: auto;
}
.bottom-ui > * {
  margin: 6px;
}

.main-volume-slider {
  appearance: none;
  flex-shrink: 1;
  margin: 0.25em;

  width: 6em;

  opacity: 1;
  transition: opacity 0.15s;
}

.volume-slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #8a592e;
  filter: drop-shadow(3px 3px 0px #512b15);
  height: 2em;
  padding: 0.5em;
  border-radius: 1em;

  overflow: hidden;
  transition: width 0.15s;
  width: 9em;
}

input[type="range"] {
  background-color: inherit;
}

/* THUMB STYLES */

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  filter: drop-shadow(3px 3px 0px #512b15);
  width: 1em;
  height: 1em;
  border: none;
  outline: none;
  border-radius: 50%;
  background: #c3b241;
  cursor: pointer;
  position:relative;
  top: -0.3em; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  filter: drop-shadow(3px 3px 0px #512b15);
  border: none;
  outline: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #c3b241;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  filter: drop-shadow(3px 3px 0px #512b15);
  border: none;
  outline: none;
  height: 1em;
  height: 1em;
  border-radius: 50%;
  background: #c3b241;
  cursor: pointer;
}

/* TRACK STYLES */


input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #512b15;
  border-radius: 1.3px;
}


input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #512b15;
  border-radius: 1.3px;
}


input[type="range"]:focus::-moz-range-track {
  outline: 2px solid #c3b241;
}


input[type="range"]:focus::-webkit-slider-runnable-track {
  outline: 2px solid #c3b241;
}


input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border-radius: 2.6px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #512b15;
}
input[type="range"]::-ms-fill-upper {
  background: #512b15;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

.volume-slider-container:not(:hover, :focus-within, .auto-updated) {
  width: 2em;
}

.volume-slider-container:not(:hover, :focus-within, .auto-updated) .main-volume-slider {
  opacity: 0;
}


/* Hack to delay delay input on the volume slider on mobile,
  so hovering over the volume slider doesn't bleed over to
  the slider */
  .volume-slider-container:hover input[type="range"],
.volume-slider-container:hover:focus-within input[type="range"] {
  animation-name: delay-input;
  animation-duration: 0.05s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@keyframes delay-input {
  0% {
    pointer-events: none;
    touch-action: none;
  }
  90% {
    pointer-events: none;
    touch-action: none;
  }
  100% {
  }
}

.volume-slider-container:not(:hover, :focus-within) .volume-slider {
  opacity: 0;
}

.volume-slider-container::before,
.volume-slider-container::after {
  margin: 0.2em;
  flex-shrink: 0;
}

.volume-slider-container::before {
  content: url("/common/svg/volume-down.svg");
  width: 0.75em;
}

.volume-slider-container::after {
  display: inline-block;
  content: url("/common/svg/volume-up.svg");
  width: 1em;
}

.ambience-sliding-ui {
  transition: transform 0.3s, height 0.3s;
}
.open .ambience-sliding-ui, .ambience-ui-container:focus-within ~ .ambience-sliding-ui{
  transform: translate(-56px);
  height: 100px;
}
.ambience-sliding-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 84px;
}
.ambience-fft-canvas {
  /* opacity: 0.5 */
  filter: drop-shadow(2px 2px 0px #09565c);
  transform: translate(0,-1px)
}
/* .darkmode .ambience-fft-canvas {
  filter: invert() drop-shadow(2px 2px 0px #09565c);
} */

.ambience-add-remove-ui-wrapper {
  padding-right: 56px;
}

.ambience-outer-wrapper {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items:flex-start;
  max-height: 80vh;
  z-index: 10;
  pointer-events: none;
}
.ambience-outer-wrapper > * {
  pointer-events: all;
}
.ambience-ui-container {
  width: 280px;
  background-color: var(--ambience-header-fill);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: width 0.3s, background-color 0.3s;
  max-height: 100%;
}
.ambience-ui-container>* {
  width: 280px;
}

.ambience-ui-container:not(:focus-within, .open *) {
  pointer-events: none;
  width: 0;
  overflow: hidden
}

.ambience-add-remove-ui-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.ambience-nodes-container {
  overflow-y: auto;
  background-color: var(--ambience-nodes-container-fill);
  transition: background-color 0.3s
}

.ambience-ui-container {
  border-bottom-right-radius: 1.3em;
  overflow: hidden;
  filter: drop-shadow(4px 6px 0px rgba(50, 50, 50, 0.4));
}

.media-button.smaller-media-button {
  width: 32px;
  height: 32px;
}

.media-button.smaller-media-button img {
  width: 55%;
}

.ambience-node {
  width: calc(100%-2em);
  padding: 1em;
  margin: 1em;
  display:flex;
  background-color: var(--ambience-node-fill);
  filter: drop-shadow(4px 4px 0px var(--ambience-node-shadow));
  border-radius: 0.5em;

  align-items: center;
  position: relative;
}


.ambience-node .ambience-icon {
  width: 25px;
  height: 25px;
  position: relative;
}

.ambience-node .ambience-sliders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
}

.ambience-slider {
  width: calc(100% - 1.2em);
}

.ambience-node .input-container {
  display: flex;
  justify-content: space-between;
}

.ambience-node .input-container.volume::before {
  content: url("/common/svg/volume-down.svg");
  width: 0.75em;
  height: 0.75em;
}

.ambience-node .input-container.panner::before {
  content: url("/common/svg/left-right.svg");
  position: relative;
  top:0.15em;
  width: 0.75em;
  height: 0.75em;
}

.ambience-node .close-button {
  appearance: none;
  border: none;
  background-color: transparent;

  position: absolute;
  top: 0.25em;
  right: 0.25em;
  width: 1.35em;
  height: 1.35em;

  background-image: url("/common/svg/times.svg");
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(0.2);
  opacity: 0.3;
}

.ambience-node .close-button:focus,
.ambience-node .close-button:hover {
  filter: none;
  outline: none;
  opacity: 1;
} 

a:focus,
a:hover {
  filter: brightness(3) hue-rotate(-30deg);
  outline: none;
}