body,
html,
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Fink Heavy";
  src: url("/common/font/FinkHeavy.woff") format("woff"),
    url("/common/font/FinkHeavy.ttf") format("ttf");
}

body {
  font-family: "Fink Heavy";
  color: #221111;
}

.darkmode {
  color: #d8cfcd;
}

.visuals-host {
  max-width: 75%;
}

.song-meta .meta-banner-img {
  max-width: 75%;
}

.meta-music-title {
  display: block;
  font-size: 32px;
  max-width: 100%;
  line-break: none;
  padding: 0.25em 1em 0.5em 1em;
  text-align: center;
  filter: drop-shadow(3px 3px 0px rgba(204, 204, 204, 0.7));
}

.darkmode .meta-music-title {
  color: #d8cfcd;
  filter: drop-shadow(3px 3px 0px #512b15);
}

.artist-container {
  display: block;
  text-align: center;
  height: 20px;
  line-height: 20px;
}

a {
  color: #082043;
}

.darkmode a {
  color: #c3b241;
}

.controls-container {
  display: flex;
}

.media-button {
  appearance: none;
  border: none;

  width: 42px;
  height: 42px;
  border: 3px solid transparent;
  border-radius: 50%;
  font-size: 0;
  background-color: #8a592e;
  filter: drop-shadow(3px 3px 0px #512b15);
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12px;

  outline: none;
  transition: transform 0.1s, filter 0.1s;
}

.media-button:focus {
  border: 3px solid #c3b241;
}

.media-button:active,
.media-button.pressed {
  transform: translate(2px, 2px);
  filter: drop-shadow(1px 1px 0px #512b15);
}

.media-button::before {
  filter: drop-shadow(2px 2px 0px #512b15);
}

.media-button.play::before {
  content: url("/common/svg/play.svg");
  width: 50%;
}
.media-button.pause::before {
  content: url("/common/svg/pause.svg");
  width: 50%;
}
.media-button.back::before {
  content: url("/common/svg/backward.svg");
  width: 60%;
  position: relative;
  right: 4%;
}
.media-button.next::before {
  content: url("/common/svg/forward.svg");
  width: 60%;
  position: relative;
  left: 4%;
}

.app-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-container,
.visuals-host,
.song-meta {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.background-tile-mask {
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.08),
    rgba(0, 0, 0, 0.76)
  );
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.76));
}

.default-blend {
  filter: opacity(0.7);
}

.half-visible-blend {
  filter: opacity(0.2);
  mix-blend-mode: hard-light;
}

.transparent-soft-blend {
  filter: opacity(0.5);
  mix-blend-mode: soft-light;
}

.gray-soft-blend {
  filter: grayscale(0.78);
  mix-blend-mode: soft-light;
}

.background,
.background-tile-mask,
.background-tile,
.backgrounds-host {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 0.5s;
}

.background:not(.active) {
  opacity: 0;
}

.background.active {
  opacity: 1;
}

.background-tile {
  will-change: background-position;

  background-size: 256px 256px;
  animation-name: background-scroll-diagonal;
  animation-duration: 21s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes background-scroll-diagonal {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 256px 256px;
  }
}

.bottom-ui {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  width: 100%;
  justify-content: space-between;

  display: flex;
  align-items: center;
}

.volume-slider {
  appearance: none;
  background-color: inherit;
  flex-shrink: 1;
  width: 6em;
  margin: 0.25em;

  opacity: 1;
  transition: opacity 0.15s;
}

.volume-slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #8a592e;
  filter: drop-shadow(3px 3px 0px #512b15);
  height: 2em;
  padding: 0.5em;
  border-radius: 1em;

  overflow: hidden;
  transition: width 0.15s;
  width: 9em;
}

/* THUMB STYLES */

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  filter: drop-shadow(3px 3px 0px #512b15);
  width: 1em;
  height: 1em;
  border: none;
  outline: none;
  border-radius: 50%;
  background: #c3b241;
  cursor: pointer;
  margin-top: -0.2em; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  filter: drop-shadow(3px 3px 0px #512b15);
  border: none;
  outline: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #c3b241;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  filter: drop-shadow(3px 3px 0px #512b15);
  border: none;
  outline: none;
  height: 1em;
  height: 1em;
  border-radius: 50%;
  background: #c3b241;
  cursor: pointer;
}

/* TRACK STYLES */


input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #512b15;
  border-radius: 1.3px;
}


input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #512b15;
  border-radius: 1.3px;
}


input[type="range"]:focus::-moz-range-track {
  outline: 2px solid #c3b241;
}


input[type="range"]:focus::-webkit-slider-runnable-track {
  outline: 2px solid #c3b241;
}


input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border-radius: 2.6px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #512b15;
}
input[type="range"]::-ms-fill-upper {
  background: #512b15;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

.volume-slider-container:not(:hover, :focus-within) {
  width: 2em;
}

.volume-slider-container input[type="range"]:not(input[type="range"]) {
  pointer-events: none;
  touch-action: none;
}

/* Hack to delay delay input on the volume slider on mobile,
  so hovering over the volume slider doesn't bleed over to
  the slider */
  .volume-slider-container:hover input[type="range"],
.volume-slider-container:hover:focus-within input[type="range"] {
  animation-name: delay-input;
  animation-duration: 0.05s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@keyframes delay-input {
  0% {
    pointer-events: none;
    touch-action: none;
  }
  90% {
    pointer-events: none;
    touch-action: none;
  }
  100% {
  }
}

.volume-slider-container:not(:hover, :focus-within) .volume-slider {
  opacity: 0;
}

.volume-slider-container::before,
.volume-slider-container::after {
  margin: 0.2em;
  flex-shrink: 0;
}

.volume-slider-container::before {
  content: url("/common/svg/volume-down.svg");
  width: 0.75em;
}

.volume-slider-container::after {
  display: inline-block;
  content: url("/common/svg/volume-up.svg");
  width: 1em;
}
